
process {
    executor = 'pbspro'
    project = 'tu07' // change according to the project 
    queue = 'normal'
    module = 'singularity'
    storage = 'gdata/tu07' // change according to the project 
    beforeScript = 'module load singularity'

    // sending these (uses 1 CPU in most cases) to 'normalbw' to avoid getting the singularity related error "FATAL: container creation failed"
    withName: 'ODGI.*|GFAFFIX' {
        queue = 'normalbw'
    }

    // use $PBS_JOBFS as scratch to avoid high load on the Lustre filesystem
    withName: SEQWISH {
        disk = '48GB'
        scratch = '$PBS_JOBFS'
    }

    withName: WFMASH_MAP_COMMUNITY {
        cpus = 48
        memory = '192GB'
        time = '12.h'
    }

    withName: WFMASH_MAP {
        cpus = 8
        memory = '32GB'
        time = '8.h'
    }

    withName: ODGI_LAYOUT {
        cpus = 15
        memory = '60GB'
        time = '5.h'
    }

    withName: 'ODGI_VIZ.*' {
        cpus = 4
        memory = '16GB'
        time = '1.h'
    }
}

params {
    max_cpus   = 48
    max_memory = '192.GB'
    max_time   = '24.h'
}

