
process {
    executor = 'pbspro'
    project = 'tu07' // change according to the project 
    queue = 'normal'
    module = 'singularity'
    storage = 'gdata/tu07' // change according to the project 
    beforeScript = 'module load singularity'
}

params {
    max_cpus   = 48
    max_memory = '192.GB'
    max_time   = '24.h'
}

